<div class="wrap">
  <!-- header -->
  <%= render "header" %>
  
  <!-- main-content -->
  <div class="main-content clearfix">
    <div class="info-left-bar">
      <%= image_tag "limengqiao.jpg" %>
    </div>
    <div class="info-right-bar">
      <h2>关于她<em>/ABOUT</em></h2>
      <p>
        李孟桥－新梦想大会创办人、古谷苍韵文化公司董事长、中本欣桥董事长。毕业于北京电影学院导演系，英国约克圣约翰大学传媒系硕士毕业；
      </p>

      <h2>新梦想<em>/NEW DREAM</em></h2>
      <p>
        由新梦想组委会主办的新梦想大会从2013年开始举办，至今已成功举办两届。在这两届新梦想大会上，云集了新梦想大会荣誉主席-贾春旺部长、2007年诺贝尔和平奖得主,联合国政府间气候变化专门委员会（IPCC）主席-Dr. Rajendra Pachauri、西班牙前政治家，Formula-E 总裁-Alejandro Agag、新东方教育科技集团董事长-俞敏洪、亚洲善待动物组织（PETA）副总裁-JASON BAKER、气候组织大中华区总裁-吴昌华、香港艺术发展局主席-王英伟、IDG资本创始合伙人-熊晓鸽、80后最具影响力的跨界导师-加措活佛等在内的各界精英人士，面对这一长串令人炫目的名字，有人不禁会问新梦想究竟是做什么的？它又将带来些什么？
      </p>
      <p>
        新梦想大会以“传播智慧和爱”为理念，通过邀请全球各地知名专家、学者、企业家、政治家等众多领域精英，以FREESTYLE演讲的形式分享智慧思想，探讨交流对未来、对梦想的看法，新梦想就是搭建了这样一个汇集智慧的平台。李孟桥女士在说起新梦想的时候经常引用这样一句话：“永远不要怀疑，那一小部分有思想并且执着努力的人们能够改变这个世界。事实上，人类的历史从来都是这样。”这是著名人类学家玛格丽特•米德的名言，而这句话也说明了创办新梦想大会的初衷。
      </p>
      <p>
        有媒体及社会人士指出，新梦想大会将会对中国社会进步起到重要的积极意义。首先从大会宗旨上来看，新梦想贯彻了十八大以来习近平总书记提出的“中国梦”理论，从文化、科技、商业、公益等角度唤起对梦想的追求，对社会的责任，对正能量的传递。以今年新梦想大会的主题“what is the future”为例，来自社会各界的嘉宾们分别以“未来是电动的”，“未来的饮食与医疗”，“国家点亮未来的希望”，“未来就在此刻”，“云端上的爱”为主题进行了对未来的阐述和构想，从环保出行到健康饮食再到生活科技，涉及到未来生活的各个方面。
      </p>
      <p>
        其次，从召开形式上看，新梦想大会相似于TED，但更集中于文化、公益、社会、环保生活等领域。TED大会的 “用思想的力量来改变世界”，与新梦想大会的“传播智慧和爱”也异曲同工。或者可以这样说，新梦想大会就是中国版的TED，相比之下新梦想更具有中国特色，更贴近于中国社会和中国发展。而TED在世界范围内的影响和达成的效果已经不言而喻，相信新梦想日后所带来的也会超乎我们的想象。
      </p>
      <p>
        最后，从参与者的切身感受上来看。新梦想大会确实搭建了一个自由、包容的平台，让不同领域的人在这个平台上分享他们的思想和见解，用善巧的方法，传播正念的种子。而这正是现在日趋急功近利的社会所需要的。
      </p>
      <p>
        目前新梦想大会不仅吸引了很多优秀的企业家加入，还得到了社会各界及各级政府所给予的大力支持。随着今年成功引进VEGAN SOCIETY，并正式成立The Chinese Vegan Society，也预示着新梦想大会也在一步一个脚印的付诸于行动。同时也是将新梦想大会始终倡导的核心理念不仅仅只是停留在理论层面上的传递，从而让我们看到了新梦想的决心和坚持的信念。我们有理由坚信，在未来新梦想大会仍将继续把传播“智慧与爱”的不变信念做出更好的诠释，为中国梦、世界梦发挥自己应有的贡献。
      </p>

      <h2>她说<em>/SHE SAID</em></h2>
      <p>
        “新梦想大会的初衷非常简单，希望搭建一个自由、包容的平台，可以让不同领域的人在这个舞台上分享他们的思想和见解。使用善巧的方法，传播正念的种子，是所有参与者的心愿。经过近一年的努力，委员会成员日益壮大。新梦想不仅吸引了很多热衷于慈善事业的优秀企业家加入，更得到了社会各界文化名仕及各级政府所给予的大力支持。去年，我们在这个舞台第一次播下了新梦想的种子，今天，我非常高兴和大家分享种子已经开始萌芽的好消息。新梦想已帮助世界上最权威、历史最悠久的VEGAN组织“VEGAN SOCIETY”成功进入中国，并正式成立The Chinese Vegan Society。未来，我们会将新梦想的理念“智慧与爱”做出更好的诠释。同时也希望能够有更多“梦想家”的加入，同我们一起为新梦想贡献一己之力。”
      </p>
    </div>
  </div>
</div>