<div class="wrap">
  <!-- header -->
  <%= render "header" %>
  
  <!-- main-content -->
  <div class="main-content clearfix">
    <div class="film">
      <video id="my_video_1" class="video-js vjs-default-skin" controls preload="auto" width="720" height="420" poster="" data-setup="{}">  
        <source src="<%= @video.video %>" type='video/mp4'/>  
      </video>
      <h3><%= @video.title %></h3> 
    </div>
  </div>
</div>