<div class="wrap">
  <!-- header -->
  <%= render "header" %>


  <!-- main-content -->
  <div class="main-content clearfix">
    <!-- banner -->
    <div class="banner clearfix">
      <div class="flicker-example" data-block-text="false">
        <ul>
          <li data-background="<%= image_url 'home_top.jpg' %>"></li>
        </ul>
      </div>
      <div class="qr-code">
        <%= image_tag 'qr.png' %>
      </div>
    </div>
    <div class="info-left-bar">
      <%= image_tag 'home.jpg' %>
    </div>
    <div class="info-right-bar right-bar-txt-home">
      <div class="right-bar-txt">
        <p>
          新梦想大会  TRUE DREAM CONFERENCE
        </p>
        <p>
          关于未来，每一种可能性的背后，都有动机和行为在发生。我们说起环境时既远又近，动物灭绝很远，雾霾袭城很近，就像梦想和未来，看起来在遥远的地方，其实近在眼前。
        </p>
        <p>
          As for future, there is always motivation and behaviors taking place behind every possibility. When the environment is mentioned, it is both far and near. Animal extinction is far but haze attack is near, just like dream and future, which seem to be far away but indeed are right here under our nose.
        </p>
        <p>
          新梦想大会创办于2013年，在智慧和爱的召集下，由新梦想大会组委会主办、各界政府机构及国际NGO组织联合协办。首届于2013年11月23日在中国北京.紫禁城太庙内举办。新梦想大会云集了政府要员、企业领袖、学界专家及各界媒体，以FREESTYLE的演讲形式共同分享了用智慧和爱实现梦想的时代精神，共建实现梦想的平台!第二届新梦想大会于2014年9月12日在中国北京-紫禁城太庙内举办，大会再度聚集来自世界各地的精英，属于人类本根的问题被重新探讨。
        </p>
        <p>
          The True Dream Conference was founded in 2013. Under the call of wisdom and love, it is hosted by Organizing Committee of True Dream Conference and jointly held by governments, institutions and international non-governmental organizations. The first True Dream Conference was held in the Imperial Ancestral Temple, Forbidden City, Beijing, China on Nov. 23, 2013. The True Dream Conference gathered important government officials, enterprise leaders, academic experts and media from all circles, shared the spirit of the age, i.e. to realize dream with wisdom and love, in form of FREESTYLE speech, and jointly built the platform to realize dream! The Second True Dream Conference was held in the Imperial Ancestral Temple, Forbidden City, Beijing, China on Sept. 12, 2014, when the elites from over all over the world were gathered again and the root issues of human beings were re-discussed.
        </p>
        <p>
          新梦想大会荣誉主席-贾春旺部长、2007年诺贝尔和平奖得主,联合国政府间气候变化专门委员会（IPCC）主席-Dr. Rajendra Pachauri、西班牙前政治家，Formula-E 总裁-Alejandro Agag、新东方教育科技集团董事长-俞敏洪、亚洲善待动物组织（PETA）副总裁-JASON BAKER、气候组织大中华区总裁-吴昌华、香港艺术发展局主席-王英伟、IDG资本创始合伙人-熊晓鸽、80后最具影响力的跨界导师-加措活佛等在内的各界精英人士，以“传播智慧和爱”为理念，纷纷从文化、科技、商业、公益等角度唤起对梦想的追求，对社会的责任，对智慧的传播。
        </p>
        <p>
          其次，从召开形式上看，新梦想大会相似于TED，但更集中于文化、公益、社会、环保生活等领域。TED大会的 “用思想的力量来改变世界”，与新梦想大会的“传播智慧和爱”也异曲同工。或者可以这样说，新梦想大会就是中国版的TED，相比之下新梦想更具有中国特色，更贴近于中国社会和中国发展。而TED在世界范围内的影响和达成的效果已经不言而喻，相信新梦想日后所带来的也会超乎我们的想象。
        </p>
        <p>
          Minister Jia Chunwang - the Honorary Chairman of True Dream Conference, Dr. Rajendra Pachauri - the 2007 Nobel Peace Prize winner and president of UN Intergovernmental Panel on Climate Change (IPCC), Alejandro Agag - former Spanish politician and Formula-E President, Yu Minhong - President of New Oriental Education and Technology Group, JASON BAKER - Deputy President of Asian People for the Ethical Treatment of Animals (PETA), Wu Changhua - President of Greater China for the Climate Group, Wang Yingwei - President of Hong Kong Arts Development Council, Xiong Xiaoge - founding partner of IDG Capital Partners, Jiacuo Living Buddha - the most influential crossover tutor at the generation after 80s, and other elites from different circles all awakened the pursuit of dream, the social responsibility and the dissemination of wisdom from the perspectives of culture, technology, business and public welfare, etc. 
        </p>
        <p>
          新梦想创始人李孟桥也在新梦想大会现场发言，她说：“无论你来自哪里，从事任何行业，梦想是每个人都有的念头。它或大或小。而对于“新梦想”来说，智慧和爱超越一切。如果没有智慧，追求梦想的执着就会变成一种痛苦。即使是在坚守一个善举，如果没有智慧，这种善举也会膨胀自我。我们建议大家选择零污染，零伤害，零负担的电动车、选择简单的素食和心有所寄的诗意生活。但我仍然想说，希望自己拥有一颗了解智慧和慈悲的心，是更为珍贵的新梦想。
        </p>
        <p>
          Queena Li, the founder of True Dream, also delivered a speech on the site of the True Dream Conference. She said, “No matter where you come from and what business you are engaged in, dream is what everyone has. It may be large or small. For “true dream”, however, wisdom and love go beyond everything. Without wisdom, the persistence to pursue after dream will become suffering. Without wisdom, even if we persist in a philanthropic act, such act will lead to self-aggrandizement. You are suggested to select electric vehicle which is free from pollution, harm and burden, simple vegetarian diet and poetic life with a willing heart, but what I still want to say is that the hope to have a heart to understand wisdom and mercy is for the precious True Dream.”
        </p>
      </div>
    </div>
  </div>
</div>
<% content_for :js do %>
<script type="text/javascript">
  $(function(){
    $('.flicker-example').flicker();
    var flW = $(".flickerplate").width();
    var flWF = Math.floor(flW*0.4818);
    $(".flickerplate").css({"height":flWF+"px"});
  })
</script>
<% end %>