<div class="wrap">
  <!-- header -->
  <%= render "header" %>
  <!-- main-content -->
  <div class="main-content clearfix">
    <div class="news-content">
      <!-- 两种状态：没图的news-list和有图的news-list-img -->
      <div class="news-list">
        <h2>
          <a href="#">新梦想大会圆梦2014 Vegan Society正式落户中国</a>
        </h2>
        <p>
          2014年9月12日，第二届新梦想大会正式在北京紫禁城太庙拉开帷幕，本届新梦想大会已将成立于1944年，世界上最权威、历史最悠久的“VEGAN SOCIETY”组织正式引入中国，并成立了THE CHINESE VEGAN SOCIETY。VEGAN音译为维根，它的定义是：一种不剥削和虐待动物、不以动物为食、不穿动物做的衣服以及不用动物另作它途的生活方式。虽然有很多人称它为“纯素THE CHINESE VEGAN SOCIETY。VEGAN音译为维根，它的定义是：一种不剥削和虐待动物、不以动物为食、不穿动物做的衣服以及不用动物另作它途的生活方式...<a href="#">［详情］</a>
        </p>
        <p class="news-info">
          <span>发布日期：2014.9.23</span>
          <span>来源：21CN财经</span>
          <a href="#"><i class="fa fa-heart"></i>168</a>
          <a href="#"><i class="fa fa-share-alt"></i>分享</a>
        </p>
      </div>
      <div class="news-list-img clearfix">
        <div class="news-left">
          <h2>
            <a href="#">新梦想大会圆梦2014 Vegan Society正式落户中国</a>
          </h2>
          <p>
            2014年9月12日，第二届新梦想大会正式在北京紫禁城太庙拉开帷幕，本届新梦想大会已将成立于1944年，世界上最权威、历史最悠久的“VEGAN SOCIETY”组织正式引入中国，并成立了THE CHINESE VEGAN SOCIETY。VEGAN音译为维根，它的定义是：一种不剥削和虐待动物、不以动物为食、不穿动物做的衣服以及不用动物另作它途的生活方式。虽然有很多人称它为“纯素THE CHINESE VEGAN SOCIETY。VEGAN音译为维根，它的定义是：一种不剥削和虐待动物、不以动物为食、不穿动物做的衣服以及不用动物另作它途的生活方式...<a href="#">［详情］</a>
          </p>
          <p class="news-info">
            <span>发布日期：2014.9.23</span>
            <span>来源：21CN财经</span>
            <a href="#"><i class="fa fa-heart"></i>168</a>
            <a href="#"><i class="fa fa-share-alt"></i>分享</a>
          </p>
        </div>
        <div class="news-right">
          <a href="#"><img src="images/video_03.jpg"></a>
        </div>
      </div>
      <div class="pagination">
        <span class="previous_page disabled">上一页</span>
        <em class="current">1</em>
        <a href="/?page=2" rel="next">2</a>
        <a href="/?page=2" rel="next">3</a>
        <a href="/?page=2" rel="next">4</a>
        <a href="/?page=2" rel="next">5</a>
        <em>&hellip;</em>
        <a href="/?page=3">333</a>
        <a href="/?page=2" rel="next" class="next_page">下一页</a>
      </div>
    </div>
  </div>
</div>