<div class="wrap">
  <!-- header -->
  <%= render "header" %>
  <!-- main-content -->
  <div class="main-content clearfix">
    <div class="news-content-box">
      <h2 class="theme-title">新梦想大会圆梦2014 Vegan Society正式落户中国</h2>
      <p class="news-info">
        <span>发布日期：2014.09.23</span>
        <span>来源：21CN股票</span>
        <a href="#"><i class="fa fa-heart"></i>0</a>
        <a href="#"><i class="fa fa-share-alt"></i>分享</a>
      </p>
      <div class="news-main">
       <p>
        2014年9月12日，第二届新梦想大会正式在北京紫禁城太庙拉开帷幕，本届新梦想大会已将成立于1944年，世界上最权威发货快点击返回数据库很费劲的身份还是尽快发货速度快房顶上的户口附近的刷卡费就是的划分空间的回复看电视回复第四季开放和健康的双丰收的尽快发货的时好风景更好的发挥的风景控股对方的数据库里附近空V型处女查询下半场被vcxnvbcxvhdffhdgfgdfh。
      </p>
      <p>
        想大会正式在北京紫禁城太庙拉开帷幕，本届新梦想大会已将成立于1944年，世界上最权威、历史最悠久的“VEGAN SOCIE2014年9月12日健规定符合规定放假广东省康的防护等级咖啡馆的身份的规范化个地方的施工方的合法公司将安徽省SGVHGXHCGZXHJCZC 
      </p>
      <%= image_tag "video_07.jpg" %>
    </div>
  </div>
</div>
</div>
