<div class="wrap">
  <!-- header -->
  <%= render "header" %>
  
  <!-- main-content -->
  <div class="main-content clearfix">
    <div style="width:100%;height:400px;border:1px solid gray" id="container"></div>
    <div class="left-column">
      <div class="contact-content contact-content-fa">
        <h2>联系我们：</h2>
        <div class="line"></div>
        <p><i class="fa fa-weixin"></i>:xinmengxiangdahui</p>
        <p><i class="fa fa-weibo"></i>:<a href="http://weibo.com/xinmengxiangdahui">新梦想大会</a></p>
        <p><i class="fa fa-envelope"></i>:truedreamcc@163.com</p>
      </div>
    </div>
    <div class="center-column">
      <div class="contact-content">
        <h2>其它联系方式：</h2>
        <div class="line"></div>
        <p>地址：北京市东城区天安门东劳动人民文化宫东南角</p>
        <p>电话：010-6524-6868</p>
      </div>
    </div>
    <div class="right-column">
      <div class="contact-content">
        <h2>玛格丽特 米德曾说：</h2>
        <div class="line"></div>
        <p>永远不要怀疑，</p>
        <p>那一小部分有思想并且执着努力的公民能够改变这个世界。</p>
        <p>事实上，</p>
        <p>人类的历史从来都是这样！</p>
      </div>
    </div>
  </div>
</div>
<% content_for :js do %>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=1.5&ak=2b866a6daac9014292432d81fe9b47e3"></script>  
<script type="text/javascript">  
    var map = new BMap.Map("container");  
    map.centerAndZoom(new BMap.Point(116.4085,39.917979), 13);  
    map.enableScrollWheelZoom();  
    var marker=new BMap.Marker(new BMap.Point(116.4085,39.917979));  
    map.addOverlay(marker);  
    var licontent="<b>天安门</b><br>";  
        licontent+="<span><strong>地址：</strong>北京市东城区天安门东劳动人民文化宫东南角</span><br>";  
        licontent+="<span><strong>电话：</strong>(010)6524-6868</span><br>";  
        licontent+="<span class=\"input\"><strong></strong><input class=\"outset\" type=\"text\" name=\"origin\" value=\"北京站\"/><input class=\"outset-but\" type=\"button\" value=\"公交\" onclick=\"gotobaidu(1)\" /><input class=\"outset-but\" type=\"button\" value=\"驾车\"  onclick=\"gotobaidu(2)\"/><a class=\"gotob\" href=\"url=\"http://api.map.baidu.com/direction?destination=latlng:"+marker.getPosition().lat+","+marker.getPosition().lng+"|name:天安门"+"®ion=北京"+"&output=html\" target=\"_blank\"></a></span>";
 
    var hiddeninput="<input type=\"hidden\" value=\""+'北京'+"\" name=\"region\" /><input type=\"hidden\" value=\"html\" name=\"output\" /><input type=\"hidden\" value=\"driving\" name=\"mode\" /><input type=\"hidden\" value=\"latlng:"+marker.getPosition().lat+","+marker.getPosition().lng+"|name:天安门"+"\" name=\"destination\" />";
 
    var content1 ="<form id=\"gotobaiduform\" action=\"http://api.map.baidu.com/direction\" target=\"_blank\" method=\"get\">" + licontent +hiddeninput+"</form>";
   
    var opts1 = { width: 300 };  
       
    var  infoWindow = new BMap.InfoWindow(content1, opts1);  
    marker.openInfoWindow(infoWindow);  
    marker.addEventListener('click',function(){
        marker.openInfoWindow(infoWindow);
    });  
     
    function gotobaidu(type)  
    {  
        if($.trim($("input[name=origin]").val())=="")  
        {  
            alert("请输入起点！");  
            return;  
        }else{  
            if(type==1)  
            {  
                $("input[name=mode]").val("transit");  
                $("#gotobaiduform")[0].submit();  
            }else if(type==2)  
            {      
                $("input[name=mode]").val("driving");          
                $("#gotobaiduform")[0].submit();  
            }  
        }  
    }    
</script>
<% end %>