<div class="wrap">
  <!-- header -->
  <%= render "header" %>

  <!-- main-content -->
  <div class="main-content clearfix">
    <div class="left-column">
      <div class="contact-content contact-content-fa">
        <h2>联系我们：</h2>
        <div class="line"></div>
        <p><i class="fa fa-weixin"></i>:xinmengxiang</p>
        <p><i class="fa fa-weibo"></i>:http://weibo.com/xinmengxiangdahui</p>
        <p><i class="fa fa-envelope"></i>:xinmengxiang@qq.com</p>
      </div>
    </div>
    <div class="center-column">
      <div class="contact-content">
        <h2>其它联系方式：</h2>
        <div class="line"></div>
        <p>地址：北京市朝阳区人民文化宫</p>
        <p>电话：010-1234-5678</p>
        <p>传真：010-1234-5678</p>
      </div>
    </div>
    <div class="right-column">
      <div class="contact-content">
        <h2>玛格丽特 米德曾说：</h2>
        <div class="line"></div>
        <p>永远不要怀疑，</p>
        <p>那一小部分有思想并且执着努力的公民能够改变这个世界。</p>
        <p>事实上，</p>
        <p>人类的历史从来都是这样！</p>
      </div>
    </div>
  </div>
</div>