.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.clearfix {zoom:1; }
@font-face {
  font-family: 'icomoon';
  src:url('<%= image_url "icomoon.eot" %>yvw6bm');
  src:url('<%= image_url "icomoon.eot" %>?#iefixyvw6bm') format('embedded-opentype'),
    url('<%= image_url "icomoon.woff" %>?yvw6bm') format('woff'),
    url('<%= image_url "icomoon.ttf" %>?yvw6bm') format('truetype'),
    url('<%= image_url "icomoon.svg" %>?yvw6bm#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}