<div class="header">
  <div class="nav clearfix">
    <div class="logo">
      <a href="index.shtml"><%= image_tag "logo.jpg" %></a>
    </div>
    <ul class="nav-ul">
      <li class="active"><a href="index.shtml">大会视频</a></li>
      <li><a href="#">大会图片</a></li>
      <li><a href="#">视频预告</a></li>
      <li><a href="#">信息</a></li>
      <li><a href="contact.shtml">联系我们</a></li>
    </ul>
  </div>
</div>